<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vista de Prueba</title>
</head>
<body>
    <div style="height:300px; background-color:darkgray;">
            <div style="width:25%; height: 300px; background-color:yellow; float: left;"></div>
            <div style="width:25%; height: 50%; background-color:red; float: left;"></div>         
            <div style="width:25%; height: 50%; background-color:blue; float: right;"></div>
            <div style="width:25%; height: 50%; background-color:green;float:right;"></div>
    </div>
    <br>
    <div style="width:500px; height:500px;">  
        <a href="https://youtube.com/">
            <div style="height:250px; width:250px; background-color:red; float:left">
            </div>
        </a>    
        <a href="https://facebook.com/">
            <div style="height:250px; width:250px; background-color:blue; float: right;">
            </div>
        </a>
        <a href="https://web.whatsapp.com/">
            <div style="height:250px; width:250px; background-color:#00e676; float: left;"></div>
        </a>
        <a href="https://snapchat.com/">
            <div style="height:250px; width:250px; background-color:yellow; float: right;"></div>
        </a>
    </div>
</body>
</html>